{% block body %}

    <main class="vh-100">
        <div class="tabla m-4">
            <h1 class="text-center d-block p-2">Productos</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Dimensiones</th>
                        <th>Stock</th>
                        <th>Pathimagen</th>
                    </tr>
                </thead>
                <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{ producto.id }}</td>
                         <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.dimensiones }}</td>
                        <td>{{ producto.stock }}</td>
                        <td><img src="{{ asset('image/CategoriasProductos/') ~ producto.getPathimagen }}" width="50px"> </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">No se encuentran materiales creados</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </main>
{% endblock %}
