{% extends 'base.html.twig' %}

{% block title %}Materiales index{% endblock %}

{% block body %}
    <div class="contenedor_formulario">
        <div class="tabla m-4">
            <h1 class="text-center d-block p-2">Materiales</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for materiale in materiales %}
                    <tr>
                        <td>{{ materiale.id }}</td>
                        <td>{{ materiale.nombre }}</td>
                        <td>
                            <a href="{{ path('materiales_show', {'id': materiale.id}) }}">Ver |</a>
                            <a href="{{ path('materiales_edit', {'id': materiale.id}) }}"> Editar</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No se encuentran materiales creados</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="opciones m-4 w-100">
                <div class="navigation d-flex justify-content-center">
                    {{ knp_pagination_render(materiales) }}
                </div>
                <a href="{{ path('materiales_new') }}" ><i class="fas fa-plus-circle"></i> Nuevo Material</a>
            </div>
            </div>
        </div>
        <!--<div class="count">
            {{ materiales.getTotalItemCount }}
        </div>-->
    </div>
{% endblock %}
